<!doctype html>
<html lang="en" class="h-100">
<head>
  {% include 'partials/head_meta.html' %}
  <title>IPL Match Predictions</title>
  {% include 'partials/head_scripts.html' %}

  <!-- Custom styles for this template -->
  <link href="/static/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

  <style>
    ul.ui-autocomplete {
      z-index: 1100;
    }
  </style>

</head>
<body class="d-flex flex-column h-100">

  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">IPL Match Prediction</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/vv-varun/IPL-DataAnalysis">Source Code</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </header>

  <!-- Begin page content -->
  <main role="main" class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5">Welcome !</h1>
      <br>
      <h2>Predict the match result at the start of 20th Over</h2>
      <br>

      <div class="row">
        <form id="match_details" class="needs-validation match_details" novalidate>
          
          <div class="form-group row">
            <label for="runs_to_win" class="col-sm-6 col-form-label">Runs to win</label>
            <div class="col-sm-6">
              <input type="number" class="form-control" id="runs_to_win" required>
            </div>
            <div class="invalid-feedback">Please provide a value</div>
          </div>

          <div class="form-group row">
            <label for="wickets_in_hand" class="col-sm-6 col-form-label">Wickets in hand</label>
            <div class="col-sm-6">
              <input type="number" class="form-control" id="wickets_in_hand" required>
            </div>
            <div class="invalid-feedback">Please provide a value</div>
          </div>

          <div class="form-group row">
            <label for="bowler" class="col-sm-6 col-form-label">Bowler Name</label>
            <div class="col-sm-6">
              <input type="text" class="form-control autocomplete" id="bowler" placeholder="Search by name" required>
            </div>
            <div class="invalid-feedback">Please provide a value</div>
          </div>

          <div class="form-group row">
            <label for="batsman" class="col-sm-6 col-form-label">Batsman Name</label>
            <div class="col-sm-6">
              <input type="text" class="form-control autocomplete" id="batsman" placeholder="Search by name" required>
            </div>
            <div class="invalid-feedback">Please provide a value</div>
          </div>

          <div class="form-group row">
            <label for="non_striker" class="col-sm-6 col-form-label">Non Striker Name</label>
            <div class="col-sm-6">
              <input type="text" class="form-control autocomplete" id="non_striker" placeholder="Search by name" required>
            </div>
            <div class="invalid-feedback">Please provide a value</div>
          </div>

          <div class="form-group row">
            <div class="col-sm-10">
              <button id="predict_match_result" class="btn btn-primary" type="button" onclick="predictMatchResult();">Calculate</button>
            </div>
          </div>
        </form>
      </div>
      
      <div class="row">
        <div id="message-bar" class="alert">
        </div>
      </div>
      
      <div class="row">

      </div>

    </div>
  </main>

  <footer class="footer mt-auto py-3">
    <div class="container">
      <span class="text-muted">Copyright (c) Varun Verma</span>
    </div>
  </footer>

  <!-- Footer Scripts -->
  {% include 'partials/footer_scripts.html' %}

  <!-- Page level custom scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="static/js/main.js"></script>

</body>
</html>
